<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Name : @Model.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">SSN : @Model.SSN</h6>
        <h6 class="card-subtitle mb-2 text-muted">Age : @Model.Age</h6>
        <h6 class="card-subtitle mb-2 text-muted">Address : @Model.Address</h6>
    </div>
</div>