<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.SSN</h6>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Age</h6>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Address</h6>
    </div>
</div>