@{
    ViewData["Title"] = "Error";
}

<h2 style="color:red;"> Something went wrong </h2>

<p><strong>Message:</strong> @ViewData["ErrorMessage"]</p>

<pre style="color:gray;">@ViewData["StackTrace"]</pre>

<p>Time: @DateTime.Now</p>
<hr />
