@model MVClab.Models.Course

<p>(Number: @Model.Number)<strong>@Model.crsName</strong> </p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Number" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
